@font-face {
  font-family: AntonRegular;
  src: url(/fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensedRegular;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensedLight;
  src: url(/fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensedLightItalic;
  src: url(/fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: DancingScriptSemiBold;
  src: url(/fonts/static/DancingScript-SemiBold.ttf);
}
.logo-font, span.logo-title {
  font-family: AntonRegular;
}

.bold-med-font, .icon-font, navbar nav a {
  font-size: 1.325rem;
  font-weight: 400;
}

.icon-font, navbar nav a {
  font-family: DancingScriptBold;
}

.big-title, .logo-font, span.logo-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-family: DancingScriptSemiBold;
}

.small-title, copyright {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
}

body {
  direction: ltr;
  font-size: 16px;
  color: #333;
  background: #000;
}

header {
  display: block;
  background: url(/images/layout/header.jpg);
  height: 250px;
}

object.logo {
  height: 100px;
  width: 200px;
  padding-top: 0.5rem;
  padding-left: 2.5rem;
  fill: #e50914;
  line-height: normal;
}

span.logo-title {
  position: relative;
  top: -15px;
  left: 10px;
  color: #e50914;
}

footer {
  display: block;
  background: url(/images/layout/footer.jpg);
  height: 250px;
}

copyright {
  text-align: center;
  display: block;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  background: black;
  border: 5px solid #586673;
  border-radius: 15px;
  padding: 5px;
}

follow-me {
  text-align: right;
  display: block;
  position: relative;
  bottom: -150px;
}
follow-me h2 {
  color: #8b8b93;
  padding-right: 20px;
  padding-bottom: 0px;
}

navbar {
  display: block;
  position: relative;
  min-width: 100%;
  right: 20px;
  bottom: -80px;
  text-align: right;
}
navbar nav {
  display: inline;
}
navbar nav a {
  color: #9acefe;
  padding: 10px;
  cursor: pointer;
}
navbar nav a:hover {
  color: #c8996b;
}

/* left side drop-down menu */
#menu {
  background-color: #024;
  position: relative;
  color: white;
  width: 250px;
  padding-left: 40px;
  padding-bottom: 80px;
  /* drop-down menu title */
  /* hover cover content in drop-down menu */
}
#menu .menutitle {
  font-size: 20px;
  padding-top: 10px;
}
#menu .menucontent {
  display: none;
  padding: 20px;
}
#menu .menucontent a:hover {
  color: #c8996b;
}
#menu .menua {
  color: #ddd;
}

div#page {
  display: flex;
  flex-direction: row;
}

div#content {
  color: #ddd;
  font-size: 24px;
  padding-left: 80px;
  padding-right: 80px;
}
div#content a {
  color: #ddd;
}
div#content a:hover {
  color: #c8996b;
}

div.artcle_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #120;
}

div.artcleheader h3 {
  display: block;
  font-family: RobotoCondensedLightItalic;
  padding-left: 20px;
}
div.artcleheader h1 {
  display: block;
  font-family: RobotoCondensedLight;
}
div.artcleheader .artclecreater {
  font-family: DancingScriptBold;
}

span.readall {
  padding-right: 35px;
}

informationlink {
  font-size: 16px;
}
